.card-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 36, 36);
    border-radius: 1%;
    margin-bottom: 5px;
    border: 2px solid wheat;
    
    


}



.logo{
    display: flex;
    justify-content: space-between;
    height:60%;
    width: 10%;
}

.logo-img{
   
    height:100%;
    width: 100%;
    border-radius: 50%;
}

.post-img{
    height:100%;
    width: 100%;

}

.channelinfo{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:10px;
    padding: 10px;
    color: aliceblue;
    flex-wrap: wrap;

}

.description{
    margin: 20px;
    color: aliceblue;
    
    
}

.photo{
    margin: 20px 0px 20px 0px;
    padding: 20px;
}

.reactions{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

.left-reactions,.right-reactions{
    display: flex;
    
}

.like,.share{
    margin-right: 10px;
}

button{
    border-radius: 20%;
    padding: 7px;
    cursor: pointer;
}

button:hover{

    color: aliceblue;
    background-color: gray;


}